#<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /peer_lang/peer_de/
RewriteRule ^index\.php$ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /peer_lang/peer_de/index.php [L]
#</IfModule>
