#<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /peer_lang/peer_pt/
RewriteRule ^index\.php$ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /peer_lang/peer_pt/index.php [L]
#</IfModule> 
